:root {
    --edit-mode-height: 4.5em;
    --top-app-bar-height: 3em;
}

html,
body,
#app {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

/** Main container for "calendar", "pdf" and "settings" page */
main.container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    padding-top: var(--top-app-bar-height);

    transition: bottom 0.15s ease-out;
}

main.container.edit-mode {
    bottom: var(--edit-mode-height);
}

.ui-app-bar .app-bar-title {
    white-space: nowrap;
}

.ui-app-bar .app-bar-date-picker {
    white-space: nowrap;
}

.page-calendar .page-calendar-item {
    min-width: 100%;
    transform: translateX(-100%);
    /*transition: transform 0.25s ease;*/
    transition: none;
    /*will-change: transform;*/
}

.page-calendar .page-calendar-item>.ui-grid {
    --gap: 0.1em;
}

.page-calendar .page-calendar-item .page-calendar-week-days.ui-grid-row {
    --gap: 0.1em;
    height: 2.5em;
}

.page-calendar .page-calendar-item .page-calendar-week-days.ui-grid-row .ui-grid-column {
    font-family: var(--font-family-heading);
    width: calc(100% / 7);
    height: 100%;

    font-size: 1.15em;

    font-weight: bolder;

    display: flex;
    align-items: center;
    justify-content: center;
}

.page-calendar .page-calendar-item .page-calendar-week-days.ui-grid-row .ui-grid-column:not(.page-calendar-weekend) {
    font-weight: normal;
}

.page-calendar .page-calendar-item .page-calendar-days.ui-grid-row {
    --gap: 0.1em;
    height: calc(100% / 7 + 2.5em);
}

.page-calendar .page-calendar-item .page-calendar-days.ui-grid-row .ui-grid-column {
    --gap: 0.1em;
    width: calc(100% / 7);
    height: 100%;
    overflow: hidden;
}
