package home

import "base-ah-templ/templates/layout"

templ Page() {
	@layout.Layout(layout.Props{
		Title: "Go WebAssembly Example",
	}) {
		<h1>Go WebAssembly Demo</h1>
		<button
			class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 active:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-300"
			disabled
		>Click Me!</button>
		<div id="output"></div>
	}
}
