package icons

type ChevronLeftProps struct {
	Class string
}

templ ChevronLeft(props ...ChevronLeftProps) {
	{{
		p := ChevronLeftProps{}
		if len(props) > 0 {
			p = props[0]
		}
	}}
	<svg
		width="24"
		height="24"
		viewBox="0 0 24 24"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
		class={ p.Class }
	>
		<path
			d="M15 18L9 12L15 6"
			stroke="currentColor"
			stroke-width="2"
			stroke-linecap="round"
			stroke-linejoin="round"
		></path>
	</svg>
}
