[data-theme=light] {
    --bg: 240, 10%, 96.1%;
    --fg: 0, 10%, 3.9%;

    --card: 240, 10%, 92.1%;
    --card-fg: 0, 10%, 3.9%;

    --primary: 240, 5.9%, 10%;
    --primary-fg: 0, 0%, 98%;

    --secondary: 240, 5.9%, 75%;
    --secondary-fg: 0, 5.9%, 10%;

    --muted: 240, 4.8%, 95.9%;
    --muted-fg: 0, 3.8%, 46.1%; 

    --destructive: 0, 72.22%, 50.59%;
    --destructive-fg: 0, 0%, 98%;

    --border: 240, 5.9%, 82%;
    --border-width: 1px;
    --border-style: solid;

    --font-size: calc(15px + 0.390625vw);

    --font-family: "Times New Roman", serif;
    --font-family-mono: "Courier New", monospace;

    --line-height: 1.15;

    --radius: 0.25rem;
    --spacing: .5em;

    background: hsl(var(--bg));
    color: hsl(var(--fg));
}

[data-theme=dark] {
    --bg: 240, 10%, 3.9%;
    --fg: 0, 0%, 98%;

    --card: 240, 10%, 7.9%;
    --card-fg: 0, 0%, 98%;

    --primary: 240, 5.9%, 98%;
    --primary-fg: 0, 0%, 10%;

    --secondary: 240, 5.9%, 25%;
    --secondary-fg: 0, 5.9%, 98%;

    --muted: 240, 3.7%, 15.9%;
    --muted-fg: 0, 5%, 64.9%;

    --destructive: 0, 62.8%, 30.6%;
    --destructive-fg: 0, 0%, 98%;

    --border: 240, 5.9%, 18%;
    --border-width: 1px;
    --border-style: solid;

    --font-size: calc(15px + 0.390625vw);

    --font-family: "Times New Roman", serif;
    --font-family-mono: "Courier New", monospace;

    --line-height: 1.15;

    --radius: 0.25rem;
    --spacing: .5em;

    background: hsl(var(--bg));
    color: hsl(var(--fg));
}
