/*****************
 * Global Styles *
 *****************/

* {
	box-sizing: border-box;
}

/* Debug */
*,
*:not(svg) {
	border: 0.5px solid red;
}

/*******************
 * Utility classes *
 ******************/

.hidden {
	display: none;
}
