.page-calendar .page-calendar-item .page-calendar-days {
    --gap: 0.1em;
    height: calc(100% / 7 + 2.5em);
}

.page-calendar .page-calendar-item .page-calendar-days .ui-card {
    width: calc(100% / 7);
    height: 100%;
    overflow: hidden;
}

.page-calendar .page-calendar-item .page-calendar-days .ui-card.nope {
    opacity: 0.2;
}

.page-calendar
    .page-calendar-item
    .page-calendar-days
    .ui-card
    .page-calendar-day-date {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5vmin;

    font-weight: normal;
    font-size: 3vmin;
    font-size: clamp(0em, 3vmin, 1em);

    border-radius: inherit;
}

.page-calendar
    .page-calendar-item
    .page-calendar-days
    .ui-card
    .page-calendar-day-shift {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-size: 4vmin;
    font-size: clamp(0em, 4vmin, 1.5em);

    color: var(--shift-color, var(--card-fg));
    text-shadow: 0.1em 0.1em 0.1em hsla(var(--shift-color, var(--card-fg)), 0.2);

    border-radius: inherit;
}

@media (orientation: landscape) {
    .page-calendar
        .page-calendar-item
        .page-calendar-days
        .ui-card
        .page-calendar-day-shift {
        left: 4vmin;
    }
}

@media (orientation: portrait) {
    .page-calendar
        .page-calendar-item
        .page-calendar-days
        .ui-card
        .page-calendar-day-shift {
        top: 5vmin;
    }
}
