.page-calendar .page-calendar-item {
    min-width: 100%;
    transform: translateX(-100%);
    /*transition: transform 0.25s ease;*/
    transition: none;
    /*will-change: transform;*/
}

.page-calendar .page-calendar-item > .ui-grid {
    --gap: 0.1em;
    width: 100%;
    height: 100%;
}
