.page-calendar .page-calendar-item .page-calendar-week-days.ui-grid-row {
    --gap: 0.1em;
    height: 2.5em;
}

.page-calendar
    .page-calendar-item
    .page-calendar-week-days.ui-grid-row
    .ui-grid-column {
    font-family: var(--font-family-heading);
    width: calc(100% / 7);
    height: 100%;

    font-size: 1.15em;

    font-weight: bolder;

    display: flex;
    align-items: center;
    justify-content: center;
}

.page-calendar
    .page-calendar-item
    .page-calendar-week-days.ui-grid-row
    .ui-grid-column:not(.page-calendar-weekend) {
    font-weight: normal;
}
