html, body {
    overflow: hidden;
}

button, a {
    position: relative;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

div.day-content.disabled .ripple {
    display: none;
}

dialog {
    width: 100%;
    height: 100%;
}

dialog > article::-webkit-scrollbar {
    display: none;
}

dialog > article {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

dialog > article > footer > button {
    display: inline;
    width: fit-content;
    margin-bottom: 0;
}

dialog > article > footer > button:not(:first-child) {
    margin-left: calc(var(--spacing) * 0.5);
}
