:root {
    --edit-mode-height: 4.5em;
}

html,
body,
#app {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

/* NOTE: This should remove the 300ms delay on mobile? Is this still a thing? */
html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

#app {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: calc(var(--top-app-bar-height) + var(--spacing));
    transition: bottom 0.15s ease-out;
}

#app.edit-mode {
    bottom: var(--edit-mode-height);
}
