html,
body,
#app {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

/* NOTE: This should remove the 300ms delay on mobile? Is this still a thing? */
html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
